<div>
    <h2 id="page-heading">
        <div *ngFor="let customerOrdersDetAux of customerOrdersDet; let i = index; trackBy: trackId">
        	<span *ngIf="i == 0" jhiTranslate="psCatalogApp.customerOrdersDet.home.title" translateValues="{orderReference: '{{customerOrdersDetAux.orderOrderReference}}', orderTotalValue: '{{orderTotalValue}}'}">Orders</span>
        </div>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="alert alert-danger" *ngIf="firstCreateCustomer" jhiTranslate="error.firstcreatecustomer">
        <strong>Your customer data doesn´t exist!</strong> Please create it.
    </div>
    <div class="row" *ngIf="!firstCreateCustomer && customerOrdersDet && customerOrdersDet.length != 0">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'psCatalogApp.customerOrdersDet.home.search' | translate }}">
                    <button class="input-group-append btn btn-info" (click)="search(currentSearch)">
                        <fa-icon [icon]="'search'"></fa-icon>
                    </button>
                    <button class="input-group-append btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                        <fa-icon [icon]="'trash-alt'"></fa-icon>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div class="table-responsive" *ngIf="customerOrdersDet">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="productProductName"><span jhiTranslate="psCatalogApp.customerOrdersDet.product">Product</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="productDescription"><span jhiTranslate="psCatalogApp.customerOrdersDet.productDescription">Product Description</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="productType"><span jhiTranslate="psCatalogApp.customerOrdersDet.productType">Product Type</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="productImg"><span jhiTranslate="psCatalogApp.customerOrdersDet.productImg">Product Img</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="unitPrice"><span jhiTranslate="psCatalogApp.customerOrdersDet.unitPrice">Unit Price</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="orderQuantity"><span jhiTranslate="psCatalogApp.customerOrdersDet.orderQuantity">Order Quantity</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="totalPrice"><span jhiTranslate="psCatalogApp.customerOrdersDet.totalPrice">Total Price</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let customerOrdersDet of customerOrdersDet ;trackBy: trackId">
                <td>{{customerOrdersDet.productProductName}}</td>
                <td>{{customerOrdersDet.productDescription}}</td>
                <td jhiTranslate="{{'psCatalogApp.ProductTypeEnum.' + customerOrdersDet.productType}}">{{customerOrdersDet.productType}}</td>
                <td>
                    <a *ngIf="customerOrdersDet.productImg" [routerLink]="['/', { outlets: { popup: 'products/'+ customerOrdersDet.productId + '/image-modal'} }]">
                        <img [src]="'data:' + customerOrdersDet.productImgContentType + ';base64,' + customerOrdersDet.productImg" style="max-height: 30px;" alt="customerOrdersDet image"/>
                    </a>
                </td>
                <td>{{customerOrdersDet.unitPrice}}</td>                
                <td>{{customerOrdersDet.orderQuantity}}</td>
                <td>{{customerOrdersDet.totalPrice}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/customer-orders-det', customerOrdersDet.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="customerOrdersDet && customerOrdersDet.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
    <div>
       	<button type="submit" (click)="previousState()" class="btn btn-info">
       		<fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
       	</button>
    </div>
</div>
