<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="orderDetHst">
            <h2><span jhiTranslate="psCatalogApp.orderDetHst.detail.title">Order Det Hst</span> {{orderDetHst.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="psCatalogApp.orderDetHst.orderId">Order Id</span></dt>
                <dd>
                    <span>{{orderDetHst.orderId}}</span>
                </dd>
                <dt><span jhiTranslate="psCatalogApp.orderDetHst.productId">Product Id</span></dt>
                <dd>
                    <span>{{orderDetHst.productId}}</span>
                </dd>
                <dt><span jhiTranslate="psCatalogApp.orderDetHst.orderQuantity">Order Quantity</span></dt>
                <dd>
                    <span>{{orderDetHst.orderQuantity}}</span>
                </dd>
                <dt><span jhiTranslate="psCatalogApp.orderDetHst.unitPrice">Unit Price</span></dt>
                <dd>
                    <span>{{orderDetHst.unitPrice}}</span>
                </dd>
                <dt><span jhiTranslate="psCatalogApp.orderDetHst.createdBy">Created By</span></dt>
                <dd>
                    <span>{{orderDetHst.createdBy}}</span>
                </dd>
                <dt><span jhiTranslate="psCatalogApp.orderDetHst.createdDate">Created Date</span></dt>
                <dd>
                    <span>{{orderDetHst.createdDate}}</span>
                </dd>
                <dt><span jhiTranslate="psCatalogApp.orderDetHst.lastModifiedBy">Last Modified By</span></dt>
                <dd>
                    <span>{{orderDetHst.lastModifiedBy}}</span>
                </dd>
                <dt><span jhiTranslate="psCatalogApp.orderDetHst.lastModifiedDate">Last Modified Date</span></dt>
                <dd>
                    <span>{{orderDetHst.lastModifiedDate}}</span>
                </dd>
                <dt><span jhiTranslate="psCatalogApp.orderDetHst.orderDet">Order Det</span></dt>
                <dd>
                    <div *ngIf="orderDetHst.orderDetId">
                        <a [routerLink]="['/order-det', orderDetHst.orderDetId, 'view']">{{orderDetHst.orderDetId}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/order-det-hst', orderDetHst.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
