<div>
    <h2 id="page-heading">
        <span jhiTranslate="psCatalogApp.orders.home.title">Orders</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-orders" [routerLink]="['/orders/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span class="hidden-sm-down"  jhiTranslate="psCatalogApp.orders.home.createLabel">
            Create new Orders
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'psCatalogApp.orders.home.search' | translate }}">
                    <button class="input-group-append btn btn-info" (click)="search(currentSearch)">
                        <fa-icon [icon]="'search'"></fa-icon>
                    </button>
                    <button class="input-group-append btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                        <fa-icon [icon]="'trash-alt'"></fa-icon>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div class="table-responsive" *ngIf="orders">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
<!--             <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th> -->
            <th jhiSortBy="orderReference"><span jhiTranslate="psCatalogApp.orders.orderReference">Order Reference</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="orderDate"><span jhiTranslate="psCatalogApp.orders.orderDate">Order Date</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="deliveryDate"><span jhiTranslate="psCatalogApp.orders.deliveryDate">Delivery Date</span> <fa-icon [icon]="'sort'"></fa-icon></th>
<!--             <th jhiSortBy="createdBy"><span jhiTranslate="psCatalogApp.orders.createdBy">Created By</span> <fa-icon [icon]="'sort'"></fa-icon></th> -->
<!--             <th jhiSortBy="createdDate"><span jhiTranslate="psCatalogApp.orders.createdDate">Created Date</span> <fa-icon [icon]="'sort'"></fa-icon></th> -->
<!--             <th jhiSortBy="lastModifiedBy"><span jhiTranslate="psCatalogApp.orders.lastModifiedBy">Last Modified By</span> <fa-icon [icon]="'sort'"></fa-icon></th> -->
<!--             <th jhiSortBy="lastModifiedDate"><span jhiTranslate="psCatalogApp.orders.lastModifiedDate">Last Modified Date</span> <fa-icon [icon]="'sort'"></fa-icon></th> -->
            <th jhiSortBy="orderStatusOrderStatusDescription"><span jhiTranslate="psCatalogApp.orders.orderStatus">Order Status</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="addressAddressReference"><span jhiTranslate="psCatalogApp.orders.address">Address</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="customerCustomerName"><span jhiTranslate="psCatalogApp.orders.customer">Customer</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="deliveryAddressAddressReference"><span jhiTranslate="psCatalogApp.orders.deliveryAddress">Delivery Address</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let orders of orders ;trackBy: trackId">
<!--                 <td><a [routerLink]="['/orders', orders.id, 'view' ]">{{orders.id}}</a></td> -->
                <td>{{orders.orderReference}}</td>
                <td>{{orders.orderDate | date:'medium'}}</td>
                <td>{{orders.deliveryDate | date:'medium'}}</td>
<!--                 <td>{{orders.createdBy}}</td> -->
<!--                 <td>{{orders.createdDate | date:'medium'}}</td> -->
<!--                 <td>{{orders.lastModifiedBy}}</td> -->
<!--                 <td>{{orders.lastModifiedDate | date:'medium'}}</td> -->
                <td>
                    <div *ngIf="orders.orderStatusId">
                        <a [routerLink]="['../order-status', orders.orderStatusId , 'view' ]" >{{orders.orderStatusOrderStatusDescription}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="orders.addressId">
                        <a [routerLink]="['../addresses', orders.addressId , 'view' ]" >{{orders.addressAddressReference}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="orders.customerId">
                        <a [routerLink]="['../customers', orders.customerId , 'view' ]" >{{orders.customerCustomerName}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="orders.deliveryAddressId">
                        <a [routerLink]="['../addresses', orders.deliveryAddressId , 'view' ]" >{{orders.deliveryAddressAddressReference}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/orders', orders.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/orders', orders.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'orders/'+ orders.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="orders && orders.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
