<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-csutomer-orders-heading" jhiTranslate="psCatalogApp.customerOrders.home.createOrEditLabel">Edit a Customer Orders</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <dl class="row-md jh-entity-details">
	                <dt><span jhiTranslate="psCatalogApp.customerOrders.orderReference">Order Reference</span></dt>
	                <dd>
	                    <span>{{customerOrders.orderReference}}</span>
	                </dd>
	                <dt><span jhiTranslate="psCatalogApp.customerOrders.orderDate">Order Date</span></dt>
	                <dd>
	                    <span>{{customerOrders.orderDate}}</span>
	                </dd>
	                <dt><span jhiTranslate="psCatalogApp.customerOrders.deliveryDate">Delivery Date</span></dt>
	                <dd>
		                <div class="form-group">
		                    <div class="d-flex">
		                        <input id="field_deliveryDate" type="datetime-local" class="form-control" name="deliveryDate" [(ngModel)]="deliveryDate"
		                        />
		                    </div>
		                </div>
	                </dd>
	                <dt><span jhiTranslate="psCatalogApp.customerOrders.orderStatus">Order Status</span></dt>
	                <dd>
                    	<div class="form-group">
		                    <select class="form-control" id="field_orderStatus" name="orderStatus" [(ngModel)]="customerOrders.orderStatusId"  required>
		                        <option *ngIf="!editForm.value.orderStatus" [ngValue]="null" selected></option>
		                        <option [ngValue]="orderStatusOption.id" *ngFor="let orderStatusOption of orderstatuses; trackBy: trackOrderStatusById">{{orderStatusOption.orderStatusDescription}}</option>
		                    </select>
		                </div>
                        <div [hidden]="!(editForm.controls.orderStatus?.dirty && editForm.controls.orderStatus?.invalid)">
		                    <small class="form-text text-danger"
		                        [hidden]="!editForm.controls.orderStatus?.errors?.required" jhiTranslate="entity.validation.required">
		                        This field is required.
		                    </small>
		                </div>
	                </dd>
	                <dt><span jhiTranslate="psCatalogApp.customerOrders.address">Address</span></dt>
	                <dd>
	                    <div *ngIf="customerOrders.addressId">
	                        <a [routerLink]="['/customerAddresses', customerOrders.addressId, 'view']">{{customerOrders.addressAddressReference}}</a>
	                    </div>
	                </dd>
	                <dt><span jhiTranslate="psCatalogApp.customerOrders.deliveryAddress">Delivery Address</span></dt>
	                <dd>
	                    <div *ngIf="customerOrders.deliveryAddressId">
	                        <a [routerLink]="['/customerAddresses', customerOrders.deliveryAddressId, 'view']">{{customerOrders.deliveryAddressAddressReference}}</a>
	                    </div>
	                </dd>
            	</dl>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
