<div>
    <h2 id="page-heading">
        <span jhiTranslate="psCatalogApp.customerOrders.home.title">Customer Orders</span>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="alert alert-danger" *ngIf="firstCreateCustomer" jhiTranslate="error.firstcreatecustomer">
        <strong>Your customer data doesn´t exist!</strong> Please create it.
    </div>
    <div class="row" *ngIf="!firstCreateCustomer && customerOrders && customerOrders.length != 0">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'psCatalogApp.customerOrders.home.search' | translate }}">
                    <button class="input-group-append btn btn-info" (click)="search(currentSearch)">
                        <fa-icon [icon]="'search'"></fa-icon>
                    </button>
                    <button class="input-group-append btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                        <fa-icon [icon]="'trash-alt'"></fa-icon>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div class="table-responsive" *ngIf="customerOrders">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="orderReference"><span jhiTranslate="psCatalogApp.customerOrders.orderReference">Order Reference</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="orderDate"><span jhiTranslate="psCatalogApp.customerOrders.orderDate">Order Date</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="deliveryDate"><span jhiTranslate="psCatalogApp.customerOrders.deliveryDate">Delivery Date</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="orderStatusOrderStatusDescription"><span jhiTranslate="psCatalogApp.customerOrders.orderStatus">Order Status</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="addressAddressReference"><span jhiTranslate="psCatalogApp.customerOrders.address">Address</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="deliveryAddressAddressReference"><span jhiTranslate="psCatalogApp.customerOrders.deliveryAddress">Delivery Address</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let customerOrders of customerOrders ;trackBy: trackId">
                <td>{{customerOrders.orderReference}}</td>
                <td>{{customerOrders.orderDate | date:'medium'}}</td>
                <td>{{customerOrders.deliveryDate | date:'medium'}}</td>
                <td>{{customerOrders.orderStatusOrderStatusDescription}}</td>
                <td>
                    <div *ngIf="customerOrders.addressId">
                        <a [routerLink]="['../customerAddresses', customerOrders.addressId , 'view' ]" >{{customerOrders.addressAddressReference}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="customerOrders.deliveryAddressId">
                        <a [routerLink]="['../customerAddresses', customerOrders.deliveryAddressId , 'view' ]" >{{customerOrders.deliveryAddressAddressReference}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/customer-orders', customerOrders.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/customer-orders', customerOrders.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/customer-orders-det', customerOrders.id, 'detail']"
                                class="btn btn-success btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="psCatalogApp.customerOrders.action.detail">Detail</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="customerOrders && customerOrders.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
