<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="personalCatalog">
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="psCatalogApp.personalCatalog.productName">Product Name</span></dt>
                <dd>
                    <span>{{personalCatalog.productName}}</span>
                </dd>
                <dt><span jhiTranslate="psCatalogApp.personalCatalog.productDescription">Product Description</span></dt>
                <dd>
                    <span>{{personalCatalog.productDescription}}</span>
                </dd>
                <dt><span jhiTranslate="psCatalogApp.personalCatalog.productType">Product Type</span></dt>
                <dd>
                    <span jhiTranslate="{{'psCatalogApp.ProductTypeEnum.' + personalCatalog.productType}}">{{personalCatalog.productType}}</span>
                </dd>
                <dt><span jhiTranslate="psCatalogApp.personalCatalog.productImg">Product Img</span></dt>
                <dd>
                    <div *ngIf="personalCatalog.productImg">
                        <a [routerLink]="['/', { outlets: { popup: 'products/'+ personalCatalog.id + '/image-modal'} }]">
                            <img [src]="'data:' + personalCatalog.productImgContentType + ';base64,' + personalCatalog.productImg" style="max-width: 250px; max-height: 250px;" alt="personalCatalog image"/>
                        </a>
                    </div>
                </dd>
                <dt><span jhiTranslate="psCatalogApp.personalCatalog.productPrice">Product Price</span></dt>
                <dd>
                    <span>{{personalCatalog.productPrice}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>
        </div>
    </div>
</div>
