<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="ordersHst">
            <h2><span jhiTranslate="psCatalogApp.ordersHst.detail.title">Orders Hst</span> {{ordersHst.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="psCatalogApp.ordersHst.orderReference">Order Reference</span></dt>
                <dd>
                    <span>{{ordersHst.orderReference}}</span>
                </dd>
                <dt><span jhiTranslate="psCatalogApp.ordersHst.customerId">Customer Id</span></dt>
                <dd>
                    <span>{{ordersHst.customerId}}</span>
                </dd>
                <dt><span jhiTranslate="psCatalogApp.ordersHst.orderStatusCode">Order Status Code</span></dt>
                <dd>
                    <span>{{ordersHst.orderStatusCode}}</span>
                </dd>
                <dt><span jhiTranslate="psCatalogApp.ordersHst.orderDate">Order Date</span></dt>
                <dd>
                    <span>{{ordersHst.orderDate}}</span>
                </dd>
                <dt><span jhiTranslate="psCatalogApp.ordersHst.billingAddress">Billing Address</span></dt>
                <dd>
                    <span>{{ordersHst.billingAddress}}</span>
                </dd>
                <dt><span jhiTranslate="psCatalogApp.ordersHst.deliveryAddress">Delivery Address</span></dt>
                <dd>
                    <span>{{ordersHst.deliveryAddress}}</span>
                </dd>
                <dt><span jhiTranslate="psCatalogApp.ordersHst.deliveryDate">Delivery Date</span></dt>
                <dd>
                    <span>{{ordersHst.deliveryDate}}</span>
                </dd>
                <dt><span jhiTranslate="psCatalogApp.ordersHst.createdBy">Created By</span></dt>
                <dd>
                    <span>{{ordersHst.createdBy}}</span>
                </dd>
                <dt><span jhiTranslate="psCatalogApp.ordersHst.createdDate">Created Date</span></dt>
                <dd>
                    <span>{{ordersHst.createdDate}}</span>
                </dd>
                <dt><span jhiTranslate="psCatalogApp.ordersHst.lastModifiedBy">Last Modified By</span></dt>
                <dd>
                    <span>{{ordersHst.lastModifiedBy}}</span>
                </dd>
                <dt><span jhiTranslate="psCatalogApp.ordersHst.lastModifiedDate">Last Modified Date</span></dt>
                <dd>
                    <span>{{ordersHst.lastModifiedDate}}</span>
                </dd>
                <dt><span jhiTranslate="psCatalogApp.ordersHst.orders">Orders</span></dt>
                <dd>
                    <div *ngIf="ordersHst.ordersId">
                        <a [routerLink]="['/orders', ordersHst.ordersId, 'view']">{{ordersHst.ordersOrderReference}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/orders-hst', ordersHst.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
