<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="products">
<!--             <h2><span jhiTranslate="psCatalogApp.products.detail.title">Products</span> {{products.id}}</h2> -->
<!--             <hr> -->
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="psCatalogApp.products.productName">Product Name</span></dt>
                <dd>
                    <span>{{products.productName}}</span>
                </dd>
                <dt><span jhiTranslate="psCatalogApp.products.productDescription">Product Description</span></dt>
                <dd>
                    <span>{{products.productDescription}}</span>
                </dd>
                <dt><span jhiTranslate="psCatalogApp.products.productPrice">Product Price</span></dt>
                <dd>
                    <span>{{products.productPrice}}</span>
                </dd>
                <dt><span jhiTranslate="psCatalogApp.products.productQuantity">Product Quantity</span></dt>
                <dd>
                    <span>{{products.productQuantity}}</span>
                </dd>
                <dt><span jhiTranslate="psCatalogApp.products.productStartDate">Product Start Date</span></dt>
                <dd>
                    <span>{{products.productStartDate}}</span>
                </dd>
                <dt><span jhiTranslate="psCatalogApp.products.productEndDate">Product End Date</span></dt>
                <dd>
                    <span>{{products.productEndDate}}</span>
                </dd>
                <dt><span jhiTranslate="psCatalogApp.products.productType">Product Type</span></dt>
                <dd>
                    <span jhiTranslate="{{'psCatalogApp.ProductTypeEnum.' + products.productType}}">{{products.productType}}</span>
                </dd>
                <dt><span jhiTranslate="psCatalogApp.products.productImg">Product Img</span></dt>
                <dd>
                    <div *ngIf="products.productImg">
                        <a (click)="openFile(products.productImgContentType, products.productImg)">
                            <img [src]="'data:' + products.productImgContentType + ';base64,' + products.productImg" style="max-width: 100%;" alt="products image"/>
                        </a>
                        {{products.productImgContentType}}, {{byteSize(products.productImg)}}
                    </div>
                </dd>
<!--                 <dt><span jhiTranslate="psCatalogApp.products.createdBy">Created By</span></dt> -->
<!--                 <dd> -->
<!--                     <span>{{products.createdBy}}</span> -->
<!--                 </dd> -->
<!--                 <dt><span jhiTranslate="psCatalogApp.products.createdDate">Created Date</span></dt> -->
<!--                 <dd> -->
<!--                     <span>{{products.createdDate}}</span> -->
<!--                 </dd> -->
<!--                 <dt><span jhiTranslate="psCatalogApp.products.lastModifiedBy">Last Modified By</span></dt> -->
<!--                 <dd> -->
<!--                     <span>{{products.lastModifiedBy}}</span> -->
<!--                 </dd> -->
<!--                 <dt><span jhiTranslate="psCatalogApp.products.lastModifiedDate">Last Modified Date</span></dt> -->
<!--                 <dd> -->
<!--                     <span>{{products.lastModifiedDate}}</span> -->
<!--                 </dd> -->
                <dt><span jhiTranslate="psCatalogApp.products.supplier">Supplier</span></dt>
                <dd>
                    <div *ngIf="products.supplierId">
                        <a [routerLink]="['/suppliers', products.supplierId, 'view']">{{products.supplierSupplierName}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/products', products.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
