<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-cart-order-det-heading" jhiTranslate="psCatalogApp.cartOrderDet.home.createOrEditLabel">Create or edit a Order Det</h2>
            <div>
                <jhi-alert></jhi-alert>
			    <div class="alert alert-danger" *ngIf="insufficientProductQuantity" jhiTranslate="error.insufficientproductquantity">
			        <strong>Insufficient product quantity!</strong>
			    </div>			    
                <dl class="row-md jh-entity-details">
	                <dt><span jhiTranslate="psCatalogApp.cartOrderDet.product">Product</span></dt>
	                <dd>
	                	<span>{{cartOrderDet.productProductName}}</span>
	                </dd>
	                <dt><span jhiTranslate="psCatalogApp.cartOrderDet.productDescription">Description</span></dt>
	                <dd>
	                    <span>{{cartOrderDet.productDescription}}</span>
	                </dd>
	                <dt><span jhiTranslate="psCatalogApp.cartOrderDet.productType">Product Type</span></dt>
	                <dd>
	                    <span jhiTranslate="{{'psCatalogApp.ProductTypeEnum.' + cartOrderDet.productType}}">{{cartOrderDet.productType}}</span>
	                </dd>
	                <dt><span jhiTranslate="psCatalogApp.cartOrderDet.productImg">Product Img</span></dt>
	                <dd>
	                    <div *ngIf="cartOrderDet.productImg">
	                        <a [routerLink]="['/', { outlets: { popup: 'products/'+ cartOrderDet.productId + '/image-modal'} }]">
	                            <img [src]="'data:' + cartOrderDet.productImgContentType + ';base64,' + cartOrderDet.productImg" style="max-width: 250px; max-height: 250px;" alt="cartOrderDet image"/>
	                        </a>
	                    </div>
	                </dd>
	                <dt><span jhiTranslate="psCatalogApp.cartOrderDet.unitPrice">Unit Price</span></dt>
	                <dd>
	                    <span>{{cartOrderDet.unitPrice}}</span>
	                </dd>
	                <dt><span jhiTranslate="psCatalogApp.cartOrderDet.orderQuantity">Order Quantity</span></dt>
	                <dd>
		                <div class="form-group">
		                    <input type="number" class="form-control" name="orderQuantity" id="field_orderQuantity" pattern="[1-9][0-9]{0,3}"
		                        [(ngModel)]="cartOrderDet.orderQuantity" required/>
		                    <div [hidden]="!(editForm.controls.orderQuantity?.dirty && editForm.controls.orderQuantity?.invalid)">
		                        <small class="form-text text-danger"
		                        [hidden]="!editForm.controls.orderQuantity?.errors?.required" jhiTranslate="entity.validation.required">
		                        This field is required.
		                        </small>
		                        <small class="form-text text-danger"
		                            [hidden]="!editForm.controls.orderQuantity?.errors?.number" jhiTranslate="entity.validation.number">
		                            This field should be a number.
		                        </small>
		                        <small class="form-text text-danger"
		                            [hidden]="!editForm.controls.orderQuantity?.errors?.pattern" jhiTranslate="entity.validation.patternNaturalNumber_4">
		                            This field should be a natural number between 1 and 9999.
		                        </small>
		                    </div>
		                </div>	                   
	                </dd>
	                <dt><span jhiTranslate="psCatalogApp.cartOrderDet.totalPrice">Total Price</span></dt>
	                <dd>
	                    <span>{{cartOrderDet.totalPrice}}</span>
	                </dd>
            	</dl>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
