<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="cartOrderDet">
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="psCatalogApp.cartOrderDet.product">Product</span></dt>
                <dd>
                    <span>{{cartOrderDet.productProductName}}</span>
                </dd>
                <dt><span jhiTranslate="psCatalogApp.cartOrderDet.productDescription">Description</span></dt>
                <dd>
                    <span>{{cartOrderDet.productDescription}}</span>
                </dd>
                <dt><span jhiTranslate="psCatalogApp.cartOrderDet.productType">Product Type</span></dt>
                <dd>
                    <span jhiTranslate="{{'psCatalogApp.ProductTypeEnum.' + cartOrderDet.productType}}">{{cartOrderDet.productType}}</span>
                </dd>
                <dt><span jhiTranslate="psCatalogApp.cartOrderDet.productImg">Product Img</span></dt>
                <dd>
                    <div *ngIf="cartOrderDet.productImg">
                        <a (click)="openFile(cartOrderDet.productImgContentType, cartOrderDet.productImg)">
                            <img [src]="'data:' + cartOrderDet.productImgContentType + ';base64,' + cartOrderDet.productImg" style="max-width: 100%;" alt="cartOrderDet image"/>
                        </a>
                    </div>
                </dd>
                <dt><span jhiTranslate="psCatalogApp.cartOrderDet.unitPrice">Unit Price</span></dt>
                <dd>
                    <span>{{cartOrderDet.unitPrice}}</span>
                </dd>
                <dt><span jhiTranslate="psCatalogApp.cartOrderDet.orderQuantity">Order Quantity</span></dt>
                <dd>
                    <span>{{cartOrderDet.orderQuantity}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/cart-order-det', cartOrderDet.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
