<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="generalCatalog">
            <jhi-alert-error></jhi-alert-error>
            <ngx-spinner bdColor="rgba(51,51,51,0.4)" size="medium" color="#fff" type="ball-scale-multiple"> 
	    		<p style="font-size: 20px; color: white">Loading...</p>
			</ngx-spinner>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="psCatalogApp.generalCatalog.productName">Product Name</span></dt>
                <dd>
                    <span>{{generalCatalog.productName}}</span>
                </dd>
                <dt><span jhiTranslate="psCatalogApp.generalCatalog.productDescription">Product Description</span></dt>
                <dd>
                    <span>{{generalCatalog.productDescription}}</span>
                </dd>
                <dt><span jhiTranslate="psCatalogApp.generalCatalog.productType">Product Type</span></dt>
                <dd>
                    <span jhiTranslate="{{'psCatalogApp.ProductTypeEnum.' + generalCatalog.productType}}">{{generalCatalog.productType}}</span>
                </dd>
                <dt><span jhiTranslate="psCatalogApp.generalCatalog.productImg">Product Img</span></dt>
                <dd>
                    <div *ngIf="generalCatalog.productImg">
                        <a [routerLink]="['/', { outlets: { popup: 'products/'+ generalCatalog.id + '/image-modal'} }]">
                            <img [src]="'data:' + generalCatalog.productImgContentType + ';base64,' + generalCatalog.productImg" style="max-width: 250px; max-height: 250px;" alt="generalCatalog image"/>
                        </a>
                    </div>
                </dd>
                <dt><span jhiTranslate="psCatalogApp.generalCatalog.productPrice">Product Price</span></dt>
                <dd>
                    <span>{{generalCatalog.productPrice}}</span>
                </dd>
            </dl>
            
            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>
        </div>
    </div>
</div>
