<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-general-catalog-heading" jhiTranslate="psCatalogApp.generalCatalog.home.addBasket">Add Product to Shopping Cart</h2>
            <div>
                <jhi-alert></jhi-alert>
			    <div class="alert alert-danger" *ngIf="firstCreateAddress" jhiTranslate="error.firstcreateaddress">
			        <strong>Your addresses data doesn´t exist!</strong> Please create it.
			    </div>
                <dl class="row-md jh-entity-details">
	                <dt><span jhiTranslate="psCatalogApp.generalCatalog.productName">Product Name</span></dt>
	                <dd>
	                    <span>{{generalCatalog.productName}}</span>
	                </dd>
	                <dt><span jhiTranslate="psCatalogApp.generalCatalog.productDescription">Product Description</span></dt>
	                <dd>
	                    <span>{{generalCatalog.productDescription}}</span>
	                </dd>
	                <dt><span jhiTranslate="psCatalogApp.generalCatalog.productPrice">Product Price</span></dt>
	                <dd>
	                    <span>{{generalCatalog.productPrice}}</span>
	                </dd>
	                <dt><span jhiTranslate="psCatalogApp.generalCatalog.productType">Product Type</span></dt>
	                <dd>
	                    <span jhiTranslate="{{'psCatalogApp.ProductTypeEnum.' + generalCatalog.productType}}">{{generalCatalog.productType}}</span>
	                </dd>
	                <dt><span jhiTranslate="psCatalogApp.generalCatalog.productImg">Product Img</span></dt>
	                <dd>
	                    <div *ngIf="generalCatalog.productImg">
	                        <a (click)="openFile(generalCatalog.productImgContentType, generalCatalog.productImg)">
	                            <img [src]="'data:' + generalCatalog.productImgContentType + ';base64,' + generalCatalog.productImg" style="max-width: 100%;" alt="generalCatalog image"/>
	                        </a>
	                    </div>
	                </dd>
	                <dd>
		                <div class="form-group">
		                    <label class="form-control-label" jhiTranslate="psCatalogApp.generalCatalog.orderQuantity" for="field_orderQuantity">Order Quantity</label>
		                    <input type="number" class="form-control" name="orderQuantity" id="field_orderQuantity" pattern="[1-9][0-9]{0,2}"
		                        [(ngModel)]="generalCatalog.orderQuantity" required/>
		                    <div [hidden]="!(editForm.controls.orderQuantity?.dirty && editForm.controls.orderQuantity?.invalid)">
		                        <small class="form-text text-danger"
		                        [hidden]="!editForm.controls.orderQuantity?.errors?.required" jhiTranslate="entity.validation.required">
		                        This field is required.
		                        </small>
		                        <small class="form-text text-danger"
		                            [hidden]="!editForm.controls.orderQuantity?.errors?.number" jhiTranslate="entity.validation.number">
		                            This field should be a number.
		                        </small>
   		                        <small class="form-text text-danger"
		                            [hidden]="!editForm.controls.orderQuantity?.errors?.pattern" jhiTranslate="entity.validation.patternNaturalNumber_3">
		                            This field should be a natural number between 1 and 999.
		                        </small>
		                    </div>
		                </div>
	                </dd>
	            </dl>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-success">
                    <fa-icon [icon]="'cart-plus'"></fa-icon>&nbsp;<span jhiTranslate="psCatalogApp.generalCatalog.action.addBasket">Add to Cart</span>
                </button>
            </div>
        </form>
    </div>
</div>
